@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&family=Rubik:wght@400;500;700&family=Young+Serif&display=swap');

.title{
  font-family: 'Rubik Wet Paint', monospace;
}
.headline{
  font-family: 'Young Serif', monospace;
}
.sub-headline{
  font-family: 'Rubik', monospace;
}